* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.Loading {
  line-height: 100vh;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.NotFound {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.NotFound__title {
  font-size: 2.5rem;
}

.NotFound__description {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Homepage {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Homepage__title {
  font-size: 3rem;
  text-align: center;
}

.Homepage__link {
  font-size: 1.5rem;
  align-items: center;
}

.Dashboard {
  margin: 10px;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
}

.Dashboard__title {
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
}

.Dashboard__search {
  display: flex;
}

.Dashboard__search__icon {
  margin-top: 15px;
}

.Dashboard__search__cancel {
  margin-top: 15px;
  cursor: pointer;
}

.DashboardRow {
  cursor: pointer;
}

.BackArrow {
  display: flex;
}

.School {
  margin: 10px;
}

.School__title {
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
}
